doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Learning - Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/styles/project.css')
  body
    header
        a(href="/index.html")
            img.logo(src='/assets/logo.png')
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="/index.html") home
            a.nav-item.font-gilroy.design(href="/index.html#design") design
            a.nav-item.font-gilroy.prototype(href="/index.html#prototype") prototype
            
    //- intro
    section.intro.center
        h1.font-gilroy coming soon

    footer
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="/index_old.html", target="_blank") my old portfolio

    style.
        .illustration-6-item,
        .illustration-8-item,
        .illustration-4-item,
        .illustration-3-item{
            flex-wrap: wrap;
        }
        .illustration-6-item .flex-item{
            min-width: 120px;
            max-width: 250px;
            padding: 10px 30px;
        }
        .illustration-8-item .flex-item{
            min-width: 120px;
            max-width: 200px;
            padding: 10px 20px;
        }
        .illustration-4-item .flex-item{
            min-width: 200px;
            max-width: 400px;
            padding: 40px;
        }
        .illustration-3-item .flex-item{
            flex: 1 0 300px;
            padding: 10px;
        }

    script.
        console.log('Hi, I\'m Yi Nie. Welcome to my site!');
