@font-face{font-family:Gilroy;src:url(../assets/_font/Gilroy_ExtraBold.otf)}@font-face{font-family:Gotham_Narrow;src:url(../assets/_font/Gotham_Narrow_Book.otf)}@font-face{font-family:Gotham_Narrow;src:url(../assets/_font/Gotham_Narrow_Bold.otf);font-weight:700}@font-face{font-family:Gotham_Narrow;src:url(../assets/_font/Gotham_Narrow_Light.otf);font-weight:300}.font-gilroy{font-family:Gilroy;font-weight:700;text-transform:uppercase;letter-spacing:.1em}html{font-family:Gotham_Narrow;line-height:1.6;color:#222;font-size:16px;font-size:-webkit-calc(8px + .8vw);font-size:-moz-calc(8px + .8vw);font-size:calc(8px + .8vw);overflow-x:hidden}@media screen and (max-width:1000px){html{font-size:16px}}*,:after,:before{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}a{text-decoration:none;color:inherit;opacity:.8;-webkit-transition:opacity .2s ease;-o-transition:opacity .2s ease;-moz-transition:opacity .2s ease;transition:opacity .2s ease}a:hover{opacity:1}li,p{color:#868686;font-size:.9em}video{max-width:100%}:focus{outline:none}.flex-space{-webkit-box-flex:1;-ms-flex-positive:1;-webkit-flex-grow:1;-moz-box-flex:1;flex-grow:1}.round{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%}.full-width{width:100%}.center{text-align:center}.primary-button{display:inline-block;margin:8px 0;padding:4px 0;color:#005efe;font-weight:700;text-transform:capitalize}.primary-button:after{content:">";padding-left:5px}.logo{width:50px}.nav-item{display:inline-block;font-size:.8em;margin:8px 20px;letter-spacing:.2em}footer{margin-bottom:30px;padding:40px 100px 0;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center}.footer-copy{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex}.footer-copy p{margin:8px 0}@media screen and (max-width:800px){footer,header{padding:20px 40px}}@media screen and (max-width:700px){.footer-copy{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}.footer-text{-webkit-box-ordinal-group:3;-ms-flex-order:2;-webkit-order:2;-moz-box-ordinal-group:3;order:2}}@media screen and (max-width:480px){footer,header{padding:20px 12px}.logo{width:36px}.nav-item{margin:8px}}section{padding:80px 100px;padding:80px -webkit-calc(50vw - 500px);padding:80px -moz-calc(50vw - 500px);padding:80px calc(50vw - 500px)}@media screen and (max-width:1200px){section{padding:60px 100px}}@media screen and (max-width:800px){section{padding:50px 40px}}ul{margin:20px}.bg-shading{background:#f5faff}.bg-arrow{padding-top:180px;position:relative}.bg-arrow:before{content:"";display:block;position:absolute;left:0;right:0;top:0;height:0;border-top:100px solid #f5faff;border-left:50vw solid transparent;border-right:50vw solid transparent}h1{font-size:2.5em}.section-type{font-size:.8em;color:#005efe;letter-spacing:.3em}.section-type,h2{text-align:center;}h2{font-size:1.6em;margin:.3em;text-transform: capitalize;font-weight: 600;}h3{text-transform:capitalize}h3{font-weight:400;margin:1em 0 .3em}h3:before{content:"";display:block;height:4px;width:100px;background:#005efe;margin-bottom:.5em}li,p{font-weight:lighter}h2+p{text-align:center;margin-bottom:3em}.bold{font-weight:700}.small{font-size:.8em}.dark{color:#222}.tab-content .light-blue{color:#20abe3}.number{color:#005efe;font-size:1.8em;font-weight:400;margin-right:8px}.flex-container{display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:-moz-box;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-box-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;-moz-box-pack:justify;justify-content:space-between}.flex-container.top{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;-moz-box-align:start;align-items:flex-start}.flex-container.column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}.flex-container .flex-item{-ms-flex-preferred-size:50%;-webkit-flex-basis:50%;flex-basis:50%}.flex-item{padding:20px}.img-with-shadow{-webkit-transform:scale(1.2);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2)}.intro{width:80%;margin:50px auto 0}@media screen and (max-width:800px){.intro{width:100%;margin:80px auto 0}h1{font-size:2em}}.project-cover{-webkit-transform:scale(1.5) translateY(100px);-moz-transform:scale(1.5) translateY(100px);-ms-transform:scale(1.5) translateY(100px);-o-transform:scale(1.5) translateY(100px);transform:scale(1.5) translateY(100px)}.section-info{padding-top:200px;font-size:.9em}@media screen and (max-width:1200px){.project-cover{-webkit-transform:scale(1.2) translateY(50px);-moz-transform:scale(1.2) translateY(50px);-ms-transform:scale(1.2) translateY(50px);-o-transform:scale(1.2) translateY(50px);transform:scale(1.2) translateY(50px)}.section-info{padding-top:100px}.intro{padding-bottom:20px}}.flex-order{-webkit-box-ordinal-group:3;-ms-flex-order:2;-webkit-order:2;-moz-box-ordinal-group:3;order:2}.step-triangle{height:20px;width:20px;border:10px solid transparent;border-left:10px solid #005efe;-ms-flex-item-align:center;-ms-grid-row-align:center;-webkit-align-self:center;align-self:center}@media screen and (max-width:800px){.flex-container.direction{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;-webkit-flex-direction:column;-moz-box-orient:vertical;-moz-box-direction:normal;flex-direction:column}.flex-container.direction .flex-order{-webkit-box-ordinal-group:1;-ms-flex-order:0;-webkit-order:0;-moz-box-ordinal-group:1;order:0}.flex-container.direction .step-triangle{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}}.tab{opacity:.6;cursor:pointer;text-align:center}.tab.active{opacity:1;position:relative}.tab.active:after{content:"";position:absolute;bottom:0;left:50%;-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);transform:translateX(-50%);display:block;height:2em;width:2em;border:1em solid transparent;border-bottom:1em solid #2d3e5a}.tab-content{-webkit-box-align:start;-ms-flex-align:start;-webkit-align-items:flex-start;-moz-box-align:start;align-items:flex-start;background:#2d3e5a;margin:0 -500px -80px;padding:2em 500px}.tab-content *{color:#fff}@media screen and (max-width:1200px){.tab-content{margin:0 -500px -60px}}@media screen and (max-width:800px){.tab-content{margin:0 -500px -40px}}.footer-nav-wrap{margin:3em 0}.footer-nav-left,.footer-nav-right{margin:0}.footer-nav-right{text-align:right}.footer-nav-arrow{color:#777;text-transform:uppercase;font-weight:700;font-size:.8em}.footer-nav-name{color:#333;text-transform:capitalize}
/*# sourceMappingURL=project.css.map */

/* ---------------- site header ---------------- */

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  transition: box-shadow .5s ease
}

.site-header > .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px;
  transition: padding .5s ease;
}

.logo-link{
  display: block;
  width: 50px;
  transition: width .5s ease
}

.logo-link > img{
  width: 100%;
  vertical-align: middle;
}

.site-nav{
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em
}

.site-nav > .item{
  display: inline-block;
  margin: 8px 20px;
}

body{
  padding-top: 100px;
}

.site-header.-collapse{
  box-shadow: 0 0 5px #ddd

}

.site-header.-collapse > .container{
  padding: 8px 20px;
}

.site-header.-collapse > .container > .logo-link{
  width: 30px;
}


._body-width{
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

._flex-space{
  -webkit-box-flex: 1;
          flex-grow: 1;
}