/* ---------------- load fonts ---------------- */
@font-face {
  font-family: Gilroy;
  src: url(../assets/_font/Gilroy_ExtraBold.otf);
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../assets/_font/Gotham_Narrow_Book.otf);
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../assets/_font/Gotham_Narrow_Bold.otf);
  font-weight: 500;
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../assets/_font/Gotham_Narrow_Light.otf);
  font-weight: 300;
}
/* ---------------- normalize ---------------- */
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Gotham_Narrow', 'Helvetica', sans-serif;
  line-height: 1.6;
  color: #222;
  font-size: 16px;
  font-size: calc(8px + .8vw);
  overflow-x: hidden;
}
@media screen and (max-width: 1000px){
  html {
    font-size: 16px;
  }
}
a{
  text-decoration: none;
  color: inherit;
  opacity: .8;
  transition: .2s opacity ease;
  cursor: pointer;
}
a:hover{
  opacity: 1;
}
p, li{
  color: #999;
}
video, img{
  max-width: 100%;
}

/* ---------------- helper ---------------- */

._body-width{
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

._flex-space{
  -webkit-box-flex: 1;
          flex-grow: 1;
}

._round{
  border-radius: 50%;
}

._full-width{
  width: 100%;
}

._gilroy-title{
  font-family: 'Gilroy', 'Gotham_Narrow', 'Helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

._primary-link{
  display: inline-block;
  margin: 8px 0;
  padding: 4px 0;
  color: #005EFE;
  font-weight: bold;
  text-transform: capitalize;
}

._primary-link:after{
  content: '>';
  padding-left: 5px;
}

/* ---------------- site header ---------------- */

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  transition: box-shadow .5s ease
}

.site-header > .container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 20px;
  transition: padding .5s ease;
}

.logo-link{
  display: block;
  width: 50px;
  transition: width .5s ease
}

.logo-link > img{
  width: 100%;
  vertical-align: middle;
}

.site-nav{
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
  font-weight: 500
}

.site-nav > .item{
  display: inline-block;
  margin: 8px 20px;
}

body{
  padding-top: 100px;
}

.site-header.-collapse{
  box-shadow: 0 0 5px #ddd;
  background: #fff

}

.site-header.-collapse > .container{
  padding: 8px 20px;
}

.site-header.-collapse > .container > .logo-link{
  width: 30px;
}

/* ---------------- site footer ---------------- */

.site-footer{
  margin: 100px 0 20px;
  font-size: .8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.home-intro{
  padding: 5em 0 12em;
  position: relative
}

.home-intro > .title{
  font-size: 2.5em
}

.home-intro > .title:after{
  display: block;
  content: '';
  width: 120px;
  height: 3px;
  margin: 20px 0;
  background: #005EFE
}

.home-intro > .description{
  font-size: 1.2em
}

.home-project{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  padding-top: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center
}

.home-project:nth-child(even) > .home-project-content{
  -webkit-box-ordinal-group: 2;
          order: 1
}

.home-project > div{
  -webkit-box-flex: 1;
          flex: 1 0 0;
  padding: 20px
}

.home-project-content{
}

.home-project-content > .type{
  font-size: 1em;
  color: #005efe;
  letter-spacing: .3em;
  text-transform: uppercase
}

.home-project-content .title{
  font-size: 1.3em;
  line-height: 1.2
}

.home-project-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1em
}

.home-project-info:before{
  display: block;
  content: '';
  width: 120px;
  height: 3px;
  margin: 20px 0;
  background: #005EFE;
  -webkit-box-flex: 1;
          flex: 1 0 15%;
  margin-right: 10px;
  margin-top: 14px
}

.home-project-preview {
  position: relative;
  text-align: center;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease
}

.home-project-preview > .frame,
  .home-project-preview > .frame-shadow{
  position: absolute;
  left: 50%
}

.home-project-preview > .frame-shadow{
  opacity: 0;
  transition: opacity .5s ease
}

.home-project-preview > .screen{
  border: 1px solid #ddd;
  position: relative;
  z-index: 1
}

.home-project-preview.-mobile{
}

.home-project-preview.-mobile > .frame,
    .home-project-preview.-mobile > .frame-shadow{
  width: 50%;
  top: -7%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%)
}

.home-project-preview.-mobile > .screen{
  width: 42%
}

.home-project-preview.-mobile:hover{
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px)
}

.home-project-preview.-mobile:hover .frame-shadow{
  opacity: 1
}

.home-project-preview.-desktop{
  -webkit-transform: translateX(-6%);
          transform: translateX(-6%)
}

.home-project-preview.-desktop > .frame,
    .home-project-preview.-desktop > .frame-shadow{
  -webkit-transform: translateX(-50%) scale(1.32);
          transform: translateX(-50%) scale(1.32);
  width: 100%;
  top: 9%
}

.home-project-preview.-desktop > .screen{
  width: 100%
}

.home-project-preview.-desktop:hover{
  -webkit-transform: translate(-6%, -5px);
          transform: translate(-6%, -5px)
}

.home-project-preview.-desktop:hover .frame-shadow{
  opacity: 1
}

.home-contacts{
  text-align: center;
  margin-top: 120px

}

.home-contacts > .title{
  text-transform: uppercase;
  margin-bottom: 40px
}

.home-contacts > .title:before, .home-contacts > .title:after{
  content: '';
  width: 120px;
  height: 3px;
  margin: 20px 0;
  background: #005EFE;
  display: inline-block;
  margin: 20px;
  vertical-align: middle
}

.home-contacts-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around
}

.home-contacts-container > .contact{
  text-transform: uppercase
}

.home-contacts-container > .contact > svg{
  display: block;
  margin-bottom: 16px
}

/***************** contacts icon animation ********************/

.contact:hover{
}

.contact:hover #flag{
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg)
}

.contact:hover #mail{
  -webkit-animation: mail alternate .8s ease-in-out infinite;
          animation: mail alternate .8s ease-in-out infinite
}

.contact:hover #balloon{
  -webkit-animation: floating alternate 1s ease-in-out infinite;
          animation: floating alternate 1s ease-in-out infinite
}

.contact:hover .bubble{
  opacity: 1
}

.contact:hover .dot1{
  -webkit-animation: dot1 1s ease-in-out infinite;
          animation: dot1 1s ease-in-out infinite
}

.contact:hover .dot2{
  -webkit-animation: dot2 1s ease-in-out infinite;
          animation: dot2 1s ease-in-out infinite
}

.contact:hover .dot3{
  -webkit-animation: dot3 1s ease-in-out infinite;
          animation: dot3 1s ease-in-out infinite
}

.contact{
}

.contact #flag{
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  -webkit-transform-origin: 9% 117%;
          transform-origin: 9% 117%
}

.contact .bubble{
  transition: opacity .5s ease
}

@-webkit-keyframes mail{
  from { -webkit-transform: translate(18px, 20px); transform: translate(18px, 20px); }
  to   { -webkit-transform: translate(29px, 20px); transform: translate(29px, 20px); }
}

@keyframes mail{
  from { -webkit-transform: translate(18px, 20px); transform: translate(18px, 20px); }
  to   { -webkit-transform: translate(29px, 20px); transform: translate(29px, 20px); }
}

@-webkit-keyframes floating{
  from { -webkit-transform: translate(65px, 25px); transform: translate(65px, 25px); }
  to   { -webkit-transform: translate(75px, 20px); transform: translate(75px, 20px); }
}

@keyframes floating{
  from { -webkit-transform: translate(65px, 25px); transform: translate(65px, 25px); }
  to   { -webkit-transform: translate(75px, 20px); transform: translate(75px, 20px); }
}

@-webkit-keyframes dot1{
  from { opacity: 0; }
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot1{
  from { opacity: 0; }
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes dot2{
  from { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot2{
  from { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes dot3{
  from { opacity: 0; }
  70%  { opacity: 0; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot3{
  from { opacity: 0; }
  70%  { opacity: 0; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

/***************** backgrounds ********************/

.home-project{
}

.home-project.-project-1{
  background-image: url(/assets/_bg/home-bg1.png)
}

.home-project.-project-2{
  background-image: url(/assets/_bg/home-bg2.png)
}

.home-project.-project-3{
  background-image: url(/assets/_bg/home-bg3.png)
}

.home-project.-project-4{
  background-image: url(/assets/_bg/home-bg4.png)
}

.flying-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1
}

.flying-bg > img{
  position: absolute
}

.flying-bg > .shape-1{
  top: 5%;
  left: 43%
}

.flying-bg > .shape-2{
  top: 10%;
  left: 80%
}

.flying-bg > .shape-3{
  top: 60%;
  left: 46%
}

.flying-bg > .shape-4{
  top: 71%;
  left: 74%
}

.flying-bg > .shape-5{
  left: 29%;
  top: 16%
}

.flying-bg > .shape-6{
  left: 0;
  top: 60%
}

.flying-bg > .shape-7{
  top: 80%;
  left: 30%
}

.flying-bg > .shape-8{
  left: 95%;
  top: 63%
}
.side-banner{
    background-color: #F1F6FF;
    text-align: center;
    padding: 7em 1em 0;
    margin-top: -100px;
    position: relative
}

.side-banner > .content{
    position: absolute;
    left: 50%;
    bottom: 0;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    width: 80%;
    background: #fff;
    max-width: 900px;
    padding: 60px 50px 20px
}

.side-banner > .content > .small-title{
    color: #005EFE;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 5px
}

.side-banner > .content > .big-title{
    text-transform: uppercase;
    font-size: 1.8em;
    font-weight: 400
}

.side-banner > .content > .more{
    font-size: .9em
}

.side-section{
    position: relative
}

.side-section:before{
    content: '';
    width: 120px;
    height: 3px;
    margin: 20px 0;
    background: #005EFE;
    display: block;
    margin: 160px auto 30px;
    width: 2px;
    height: 60px
}

.side-section > .title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 40px;
    letter-spacing: 3px
}

.side-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.side-container.-column-3{
}

.side-container.-column-3 > .side-project{
    -webkit-box-flex: 1;
            flex: 1 0 calc(33% - 40px)
}

.side-container.-column-2{
}

.side-container.-column-2 > .side-project{
    -webkit-box-flex: 1;
            flex: 1 0 calc(50% - 40px)
}

.side-project{
    text-align: center;
    margin: 20px;
}

.side-prototype{
    position: relative;
    background: #F5FAFF;
    padding: 60px 40px 0;
    margin: 20px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end
}

.side-prototype.-desktop{
    -webkit-box-flex: 1;
            flex: 1 0 calc(70% - 40px)
}

.side-prototype.-mobile{
    -webkit-box-flex: 1;
            flex: 1 0 calc(30% - 40px)
}

.side-prototype > .mask{
    opacity: 0;
    transition: opacity .5s ease;
    position: absolute;
    background: rgba(0, 0, 0, .8);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.side-prototype > .mask > .info{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-transform: capitalize;
    color: #fff;
    font-size: .8em
}

.side-prototype > .mask > .info > .title{
    font-size: 1.2em;
    font-weight: normal
}

.side-prototype:hover > .mask{
    opacity: 1
}

.side-beyond{
    box-shadow: 0 0 10px #ddd;
    padding: 16px;
    -webkit-box-flex: 1;
            flex: 1 0 calc(50% - 40px);
    text-align: center;
    margin: 20px
}

.side-beyond > .img{
    width: 100%
}

.side-beyond > .title{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: .8em 0 .3em;
    letter-spacing: 3px
}

.side-beyond > .description{
    font-size: .8em;
    margin: 0 1em
}

.side-beyond > .link{
    text-transform: capitalize;
    color: #005EFE;
    font-size: .8em;
    font-weight: 500;
    margin-top: .5em
}

.side-container.-icons{
}

.side-container.-icons > .side-project > img{
    max-width: 160px
}

.side-container.-illustrations{
}

.side-container.-illustrations > .side-project > img{
    max-width: 350px
}

.side-bg{
    position: absolute;
    z-index: -1
}

.side-bg.-section-1{
    right: -8%;
    top: 3%
}

.side-bg.-section-2{
    left: -10%;
    top: 3%
}

.side-bg.-section-3{
    right: -8%;
    top: 3%
}

.side-bg.-section-4{
    left: -8%;
    top: 3%
}

.side-bg.-section-5{
    left: -12%;
    top: 80%
}

.side-bg.-section-6{
    right: -10%;
    bottom: -3%
}

/*# sourceMappingURL=styles.css.map */
