footer.site-footer._body-width
    .promo
        h2 I'm looking for full-time opportunities in Bay Area!
        div
            a(href="https://www.linkedin.com/in/yinie", target="_blank") linkedin
            a(href="mailto:yinie-ux@gmail.com", target="_blank") email
    .credit
        p Designed and Coded by Yi Nie.
        p Want to see more? Visit 
            a(href="/index_old.html", target="_blank") my old portfolio
