include _mixin.pug
+base('Yi Nie - Product Designer').home-page
    main
        section.home-intro
            img.letter(src="/assets/title_y.png")
            div(style="z-index: 1;")
                h1 Hello,<br>I'm Yi Nie
                p.left-space.left-line I’m a product designer based in San Francisco.
                p.left-space I create delightful experience with empathy.
                a.left-space._primary-link(target="_blank", href="/resume-Yi-Nie.pdf") resume

        section.home-projects
            .hero-container.grid-left.grid-row1.-padding.credible_cosigner
                img(src="/assets/credible_cosigner/_cover.png", style="padding-right: 5em;")
            .text.grid-right.grid-row1
                div
                    p.month 06
                    p.year 2016
                h2: a(href="/projects/credible_cosigner.html") Streamline Adding Co-signer
                p.left-space.left-line Led the redesign of Credible's co-signing experience for student loan refinancing, including user flow, interaction design and visual design for both desktop and mobile.
                a.left-space._primary-link(href="/projects/credible_cosigner.html") read more
            
            
            .hero-container.grid-right.grid-row2.basecrm
                img(src="/assets/basecrm/_cover.png")
            .text.grid-left.grid-row2
                div
                    p.month 06
                    p.year 2016
                h2: a(href="/projects/basecrm.html") Base CRM<br>Mobile Redesign
                p.left-space.left-line Redesign deal profile page of Base CRM mobile app to help salespeople keep track of their deals.
                a.left-space._primary-link(href="/projects/basecrm.html") read more

            .hero-container.grid-left.grid-row3.credible_dashboard
                img(src="/assets/credible_dashboard/_cover.png")
            .text.grid-right.grid-row3
                div
                    p.month 06
                    p.year 2016
                h2: a(href="/projects/credible_dashboard.html") Student Loan Offer Dashboard
                p.left-space.left-line Redesigned Credible's offer dashboard to help borrowers choose offers easily.
                a.left-space._primary-link(href="/projects/credible_dashboard.html") read more
            
            .hero-container.grid-right.grid-row4.photo
                img(src="/assets/photo/_cover.png", style="padding-left: 3em;")
            .text.grid-left.grid-row4
                div
                    p.month 06
                    p.year 2016
                h2: a(href="/projects/photo.html") Photo Management App
                p.left-space.left-line Designed a mobile application to help people manage their photo effortlessly.
                a.left-space._primary-link(href="/projects/photo.html") read more

        .equal-col.center.home-contacts-container
            a.contact(target="_blank" href="mailto:yinie.ux@gmail.com")
                +svg-email
                | email
            a.contact(target="_blank" href="https://dribbble.com/yinie")
                +svg-dribbble
                | dribbble
            a.contact(target="_blank" href="https://www.linkedin.com/in/yinie/")
                +svg-linkedin
                | linkedin
