include _mixin.pug
+base('Yi Nie - Product Designer').home-page
    main
        section.home-intro.js-home-intro
            .content
                h1 Hello,<br>I'm Yi Nie
                p.left-space.left-line I’m a product designer based in San Francisco.
                p.left-space I create delightful experience with empathy.
                a.left-space._primary-link(target="_blank", href="/resume-Yi-Nie.pdf") resume
            img.letter(src="/assets/home/title_y.png")
            .home-bg
                .bg-line.bg-col-1: img(src="/assets/home/bg_line.svg")
                .bg-shape.bg-col-1.bg-shape-1: img(src="/assets/home/bg_shape_1.svg")
                .bg-shape.bg-col-1.bg-shape-2: img(src="/assets/home/bg_shape_4.svg")

                .bg-line.bg-col-2: img(src="/assets/home/bg_line.svg")
                .bg-shape.bg-col-2.bg-shape-3: img(src="/assets/home/bg_shape_1.svg")
                
                .bg-line.bg-col-3: img(src="/assets/home/bg_line.svg")
                .bg-shape.bg-col-3.bg-shape-4: img(src="/assets/home/bg_shape_3.svg")
                
                .bg-line.bg-col-4: img(src="/assets/home/bg_line.svg")
                .bg-shape.bg-col-4.bg-shape-5: img(src="/assets/home/bg_shape_1.svg")
                
                .bg-line.bg-col-5: img(src="/assets/home/bg_line.svg")
                .bg-shape.bg-col-5.bg-shape-6: img(src="/assets/home/bg_shape_2.svg")
                .bg-shape.bg-col-5.bg-shape-7: img(src="/assets/home/bg_shape_4.svg")

        section.home-projects
            #loan_form.hero-container.grid-right.grid-row1
                img(src="/assets/loan_form/_cover.png")
            .text.grid-left.grid-row1
                div
                    p.month 05
                    p.year 2018
                h2: a(href="/projects/loan_form.html") Loan Application form A/B testing
                p.left-space.left-line Led the design of 3 around a/b testing of Credible’s loan pre-qualification form. 
                a.left-space._primary-link(href="/projects/loan_form.html") read more

            #credible_cosigner.hero-container.grid-left.grid-row2.-padding
                img.-cosigner-hero(src="/assets/credible_cosigner/_cover.png")
            .text.grid-right.grid-row2
                div
                    p.month 05
                    p.year 2017
                h2: a(href="/projects/credible_cosigner.html") Streamline Adding Co-signer
                p.left-space.left-line Led the redesign of Credible's co-signing experience for student loan refinancing, including user flow, interaction design and visual design for both desktop and mobile.
                a.left-space._primary-link(href="/projects/credible_cosigner.html") read more
            
            
            #basecrm.hero-container.grid-right.grid-row3
                img(src="/assets/basecrm/_cover.png")
            .text.grid-left.grid-row3
                div
                    p.month 03
                    p.year 2016
                h2: a(href="/projects/basecrm.html") Base CRM<br>Mobile Redesign
                p.left-space.left-line Redesign deal profile page of Base CRM mobile app to help salespeople keep track of their deals.
                a.left-space._primary-link(href="/projects/basecrm.html") read more

            #credible_dashboard.hero-container.grid-left.grid-row4
                img(src="/assets/credible_dashboard/_cover.png")
            .text.grid-right.grid-row4
                div
                    p.month 09
                    p.year 2016
                h2: a(href="/projects/credible_dashboard.html") Student Loan Offer Dashboard
                p.left-space.left-line Redesigned Credible's offer dashboard to help borrowers choose offers easily.
                a.left-space._primary-link(href="/projects/credible_dashboard.html") read more
            
            #photo.hero-container.grid-right.grid-row5
                img(src="/assets/photo/_cover.png", style="padding-left: 3em;")
            .text.grid-left.grid-row5
                div
                    p.month 06
                    p.year 2016
                h2: a(href="/projects/photo.html") Photo Management App
                p.left-space.left-line Designed a mobile application to help people manage their photo effortlessly.
                a.left-space._primary-link(href="/projects/photo.html") read more

        .equal-col.center.home-contacts-container
            a.contact(target="_blank" href="mailto:yinie.ux@gmail.com")
                +svg-email
                span._primary-link email
            a.contact(target="_blank" href="https://dribbble.com/yinie")
                +svg-dribbble
                span._primary-link dribbble
            a.contact(target="_blank" href="https://www.linkedin.com/in/yinie/")
                +svg-linkedin
                span._primary-link linkedin
