doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/index.css')
  body
    header
        img.logo(src='img/logo.png')
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="#home") home
            a.nav-item.font-gilroy.design(href="#design") design
            a.nav-item.font-gilroy.prototype(href="#prototype") prototype

    section.intro#home
        h1.title-text.font-gilroy hello,
        h1.title-text.font-gilroy I'm Yi Nie
        hr.line
        p.sub-text I'm a Product designer based in Bay Area
        p.sub-text When I’m not designing, I enjoy painting, making and learning new things
        a.resume.link-arrow(href="#") resume

    section.project.project-1#design
        .project-info
            p.project-type.font-gilroy product design
            h1.title-text.font-gilroy photo management mobile app
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_photo_app.png")

    section.project.project-2
        .project-info
            p.project-type.font-gilroy product design
            a.title-text.font-gilroy(href="projects/credible_dashboard.html") credible offer dashboard
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="projects/credible_dashboard.html") read more
        .project-img-wrap
            img.project-img(src="img/cover_credible_dashboard.png")

    section.project.project-3
        .project-info
            p.project-type.font-gilroy product design
            h1.title-text.font-gilroy base mobile crm redesign
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_base_crm.png")

    section.project.project-4
        .project-info
            p.project-type.font-gilroy product design
            h1.title-text.font-gilroy ngo registration process
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_ngo_registration.png")

    section#prototype
        .prototype-title-wrap
            span.prototype-title-text.font-gilroy prototype and animation
        .prototype-container
            .prototype-wrap.prototype-wrap-mobile
            .prototype-wrap.prototype-wrap-desktop
            .prototype-wrap.prototype-wrap-desktop
            .prototype-wrap.prototype-wrap-mobile

    footer
        .footer-links
            h1 I'm currently looking for full-time opportunity in Bay Area.
            .flex-row.flex-row-even.center
                a.flex-item(href="https://www.linkedin.com/in/yinie", target="_blank") linkedin
                a.flex-item(href="#", target="_blank") behance
                a.flex-item(href="mailto:yinie-ux@gmail.com", target="_blank") email
        .footer-copy.flex-row
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="../v2/index.html", target="_blank") my old portfolio

    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script(src='js/script.js')
