include _mixin.pug
+base('Yi Nie - Product Designer')
    main._body-width
        section.home-intro
            h1.title._gilroy-title hello,<br>I'm Yi Nie
            p.description I'm a Product Designer based in San Francisco.
            p.description I create delightful experiences with empathy for users.
            a._primary-link(target="_blank", href="/resume-Yi-Nie.pdf") resume
            .flying-bg
                img.shape-1(src="/assets/_bg/home-small1.png")
                img.shape-2(src="/assets/_bg/home-small2.png")
                img.shape-3(src="/assets/_bg/home-small3.png")
                img.shape-4(src="/assets/_bg/home-small4.png")
                img.shape-5(src="/assets/_bg/home-small5.png")
                img.shape-6(src="/assets/_bg/home-small6.png")
                img.shape-7(src="/assets/_bg/home-small7.png")
                img.shape-8(src="/assets/_bg/home-small8.png")

        section.home-project.-project-1
            .home-project-content
                p.type._gilroy-title web app
                h2._gilroy-title: a.title(href="/projects/credible_cosigner.html") CO-SIGNER PRE-QUALIFICATION
                .home-project-info: .wrap
                    p.text Led the redesign of Credible's co-signing experience for student loan refinancing, including user flow, interaction design and visual design for both desktop and mobile.
                    a._primary-link(href="/projects/credible_cosigner.html") read more
            .home-project-preview.-desktop
                img.frame-shadow(src="/assets/laptop-shadow.png")
                img.frame(src="/assets/laptop.png")
                img.screen(src="/assets/credible_cosigner/_preview.png")

        section.home-project.-project-2
            .home-project-content
                p.type._gilroy-title mobile app
                h2._gilroy-title: a.title(href="/projects/photo.html") photo management mobile app
                .home-project-info: .wrap
                    p.text Designed a mobile application to help people manage their photo effortlessly.
                    a._primary-link(href="/projects/photo.html") read more
            .home-project-preview.-mobile
                img.frame-shadow(src="/assets/phone-shadow.png")
                img.frame(src="/assets/phone.png")
                img.screen(src="/assets/photo/_preview.png")


        section.home-project.-project-3
            .home-project-content
                p.type._gilroy-title web app
                h2._gilroy-title: a.title(href="/projects/credible_dashboard.html") STUDENT LOAN OFFER DASHBOARD
                .home-project-info: .wrap
                    p.text Redesigned Credible's offer dashboard to help borrowers choose offers easily.
                    a._primary-link(href="/projects/credible_dashboard.html") read more
            .home-project-preview.-desktop
                img.frame-shadow(src="/assets/laptop-shadow.png")
                img.frame(src="/assets/laptop.png")
                img.screen(src="/assets/credible_dashboard/_preview.png")

        section.home-project.-project-4
            .home-project-content
                p.type._gilroy-title mobile app
                h2._gilroy-title: a.title(href="/projects/basecrm.html") BASE MOBILE CRM REDESIGN 
                .home-project-info: .wrap
                    p.text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals.
                    a._primary-link(href="/projects/basecrm.html") read more
            .home-project-preview.-mobile
                img.frame-shadow(src="/assets/phone-shadow.png")
                img.frame(src="/assets/phone.png")
                img.screen(src="/assets/basecrm/_preview.png")

        section.home-contacts
            .title-line-container
                h2.title._gilroy-title contact me
            .home-contacts-container
                a.contact(target="_blank" href="mailto:yinie.ux@gmail.com")
                    +svg-email
                    | email
                a.contact(target="_blank" href="https://dribbble.com/yinie")
                    +svg-dribbble
                    | dribbble
                a.contact(target="_blank" href="https://www.linkedin.com/in/yinie/")
                    +svg-linkedin
                    | linkedin
        +footer