doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/style.css')
  body
    header
        img.logo(src='img/logo.png')
        .flex-space
        nav
            a.nav-item(href="#design") design
            a.nav-item(href="#prototype") prototype
            a.nav-item(href="#about") about

    section.intro
        h1.title-text hello,
        h1.title-text I'm Yi Nie
        hr.line
        p.sub-text I create digital products with creativity, mothodology and passion.
        a.resume.link-arrow(href="#") resume

    section.project.project-1#design
        .project-info
            p.project-type product design
            p.title-text photo management mobile app
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_photo_app.png")

    section.project.project-2
        .project-info
            p.project-type product design
            p.title-text credible offer dashboard
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_credible_dashboard.png")

    section.project.project-3
        .project-info
            p.project-type product design
            p.title-text base mobile crm redesign
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_base_crm.png")

    section.project.project-4
        .project-info
            p.project-type product design
            p.title-text ngo registration process
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    a.project-button.link-arrow(href="#") read more
        .project-img-wrap
            img.project-img(src="img/cover_ngo_registration.png")

    section#prototype
        .prototype-title-wrap
            span.prototype-title-text prototype and animation
        .prototype-container
            .prototype-wrap.prototype-wrap-mobile
            .prototype-wrap.prototype-wrap-desktop
            .prototype-wrap.prototype-wrap-desktop
            .prototype-wrap.prototype-wrap-mobile

    section#about
        h1 about me

    footer
        .footer-icons
            a.footer-icons
            a.footer-icons
        p.footer-copyright 2017 Yi Nie. All right reserved.

    script(src='js/script.js')
