doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/index.css')
  body
    header
        a(href="/index.html")
            img.logo(src="/img/logo.png")
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="#home") home
            a.nav-item.font-gilroy.design(href="#design") design
            a.nav-item.font-gilroy.prototype(href="#prototype") prototype

    section.intro#home
        h1.title-text.font-gilroy hello,
        h1.title-text.font-gilroy I'm Yi Nie
        hr.line
        p.sub-text I'm a Product Designer based in Bay Area.
        p.sub-text When I’m not designing, I enjoy 
            a.intro-link(href="#") painting
            | , 
            a.intro-link(href="#") making
            |  and 
            a.intro-link(href="#") learning new things
            | .
        a.primary-button(href="#") resume

    section.project.project-1#design
        .project-info
            p.project-type.font-gilroy product design
            a.title-text.font-gilroy(href="/projects/photo.html") photo management mobile app
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    br
                    a.primary-button(href="/projects/photo.html") read more
        .project-img-wrap
            img.project-img(src="/img/photo/cover_photo_app.png")

    section.project.project-2
        .project-info
            p.project-type.font-gilroy product design
            a.title-text.font-gilroy(href="/projects/credible_dashboard.html") credible offer dashboard
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    br
                    a.primary-button(href="/projects/credible_dashboard.html") read more
        .project-img-wrap
            img.project-img(src="/img/dashboard/cover.png")

    section.project.project-3
        .project-info
            p.project-type.font-gilroy product design
            a.title-text.font-gilroy(href="/projects/.html") base mobile crm redesign
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    br
                    a.primary-button(href="/projects/.html") read more
        .project-img-wrap
            img.project-img(src="/img/base/cover_base_crm.png")

    section.project.project-4
        .project-info
            p.project-type.font-gilroy product design
            a.title-text.font-gilroy(href="/projects/.html") ngo registration process
            .project-detail
                .line
                p.sub-text Redesign deal profile page of Base CRM mobile app to help sales people keep track of their deals
                    br
                    a.primary-button(href="/projects/photo.html") read more
        .project-img-wrap
            img.project-img(src="/img/ngo/cover_ngo_registration.png")

    section#prototype
        .prototype-title-wrap
            span.prototype-title-text.font-gilroy prototype and animation
        .prototype-container
            .prototype-wrap.prototype-wrap-mobile
                video(autoplay, loop, preload="auto")
                    source(src="/media/snooze_prototype.mp4")
            .prototype-wrap.prototype-wrap-desktop
                video(autoplay, loop, preload="auto")
                    source(src="/media/paper_plane_1080p.mp4")
            .prototype-wrap.prototype-wrap-desktop
                video(autoplay, loop, preload="auto")
                    source(src="/media/simple_task_1080p.mp4")
            .prototype-wrap.prototype-wrap-mobile
                video(autoplay, loop, preload="auto")
                    source(src="/media/yelp_1080p.mp4")

    footer
        .footer-index.center
            h1 I'm looking for full-time opportunities in Bay Area!
            div
                a.footer-link(href="https://www.linkedin.com/in/yinie", target="_blank") linkedin
                a.footer-link(href="https://www.behance.net/yinieux90c0", target="_blank") behance
                a.footer-link(href="mailto:yinie-ux@gmail.com", target="_blank") email
        .footer-copy
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="/index_old.html", target="_blank") my old portfolio

    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script.
        console.log('Hi, I\'m Yi Nie. Welcome to my site!');

        $(function() {
            $('a[href*="#"]:not([href="#"])').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                    if (target.length) {
                        $('html, body').animate({ scrollTop: target.offset().top }, 1000);
                        return false;
                    }
                }
            });
        });