include _mixin.pug
+base('Yi Nie - Product Designer')
    main._body-width
        section.other-section
            h1.title prototypes and animations
            img.other-bg.-section-1(src="/assets/_bg/other-bg1.png")
            .other-container.-prototype
                .other-prototype.-mobile
                    video(autoplay, loop, preload="auto")
                        source(src="/assets/prototypes/yelp_1080p.mp4")
                    .mask
                        .info
                            h2.title recipe prototype
                            p.tool Tool - Framer.js
                .other-prototype.-desktop
                    video(autoplay, loop, preload="auto")
                        source(src="/assets/prototypes/paper_plane_1080p.mp4")
                    .mask
                        .info
                            h2.title paper plane
                            p.tool Coding - SVG animation
                .other-prototype.-desktop
                    video(autoplay, loop, preload="auto")
                        source(src="/assets/prototypes/simple_task_1080p.mp4")
                    .mask
                        .info
                            h2.title todo app interaction
                            p.tool Coding - HTML, CSS, JavaScript
                .other-prototype.-mobile
                    video(autoplay, loop, preload="auto")
                        source(src="/assets/prototypes/snooze_prototype.mp4")
                    .mask
                        .info
                            h2.title alarm snoozing interaction
                            p.tool Tool - Principle

        section.other-section.-section-2
            h1.title icons
            img.other-bg.-section-2(src="/assets/_bg/other-bg2.png")
            .other-container.-column-3.-icons
                .other-project
                    img._full-width(src="/assets/illustration/business1.png")
                .other-project
                    img._full-width(src="/assets/illustration/business2.png")
                .other-project
                    img._full-width(src="/assets/illustration/business3.png")
                .other-project
                    img._full-width(src="/assets/illustration/life2.png")
                .other-project
                    img._full-width(src="/assets/illustration/life3.png")
                .other-project
                    img._full-width(src="/assets/illustration/life4.png")
                .other-project
                    img._full-width(src="/assets/illustration/process1.png")
                .other-project
                    img._full-width(src="/assets/illustration/process2.png")
                .other-project
                    img._full-width(src="/assets/illustration/process3.png")

        section.other-section.-section-3
            h1.title illustrations       
            img.other-bg.-section-3(src="/assets/_bg/other-bg3.png") 
            .other-container.-column-2.-illustrations
                .other-project
                    img._full-width(src="/assets/illustration/user1.png")
                .other-project
                    img._full-width(src="/assets/illustration/fun1.png")
                .other-project
                    img._full-width(src="/assets/illustration/fun2.png")
                .other-project
                    img._full-width(src="/assets/illustration/fun3.png")

        +footer
