include _mixin.pug
+base('Yi Nie - Side works')
  main.sideworks
    section.sideworks-group
        .sideworks-title
            h1 Visual Design and Illustrations
            img.letter(src="/assets/sideworks/title_v.png")
        img.js-img-preview(src="/assets/sideworks/ui_admin_blue.png")
        img.js-img-preview(src="/assets/sideworks/ui_admin_gold.png")
        img.js-img-preview(src="/assets/sideworks/ui_halloween.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_invest.png")
        img.js-img-preview(src="/assets/sideworks/ui_landing_page.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_log_in.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_material_design.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_sleep.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_task.jpg")
        img.js-img-preview(src="/assets/sideworks/ui_time_up.jpg")
        img.js-img-preview(src="/assets/sideworks/illustration_bubble_tea.png")
        img.js-img-preview(src="/assets/sideworks/illustration_korean_bbq.png")
        img.js-img-preview(src="/assets/sideworks/illustration_milk_tea.png")
        img.js-img-preview(src="/assets/sideworks/illustration_mountain.png")
        img.js-img-preview(src="/assets/sideworks/illustration_popsicles.png")
        img.js-img-preview(src="/assets/sideworks/illustration_survey.jpg")
        img.js-img-preview(src="/assets/sideworks/illustration_tamagoyaki.png")

    section.sideworks-group
        .sideworks-title
            h1 Animations and Prototypes
            img.letter(src="/assets/sideworks/title_a.png")
        .mobile-video: video.js-img-preview(autoplay, loop, preload="auto"): source(src="/assets/sideworks/prototype_snooze.mp4")
        video.js-img-preview(autoplay, loop, preload="auto"): source(src="/assets/sideworks/prototype_todo.mp4")
        .mobile-video: video.js-img-preview(autoplay, loop, preload="auto"): source(src="/assets/sideworks/prototype_yelp.mp4")
        video.js-img-preview(autoplay, loop, preload="auto"): source(src="/assets/sideworks/animation_paper_plane.mp4")
        img.js-img-preview(src="/assets/sideworks/prototype_tic-tac-toe.gif")
        img.js-img-preview(src="/assets/sideworks/animation_clock.gif")
        img.js-img-preview(src="/assets/sideworks/animation_wave.gif")

    section.sideworks-group
        .sideworks-title
            h1 Lettering and Drawings
            img.letter(src="/assets/sideworks/title_l.png")
        img.js-img-preview(src="/assets/sideworks/lettering_1.png")
        img.js-img-preview(src="/assets/sideworks/lettering_2.png")
        img.js-img-preview(src="/assets/sideworks/lettering_3.png")
        img.js-img-preview(src="/assets/sideworks/lettering_4.png")
        img.js-img-preview(src="/assets/sideworks/lettering_5.png")
        img.js-img-preview(src="/assets/sideworks/lettering_6.png")
        img.js-img-preview(src="/assets/sideworks/lettering_7.png")
        img.js-img-preview(src="/assets/sideworks/lettering_8.png")
        img.js-img-preview(src="/assets/sideworks/lettering_9.png")
        img.js-img-preview(src="/assets/sideworks/drawing_1.png")
        img.js-img-preview(src="/assets/sideworks/drawing_2.png")
        img.js-img-preview(src="/assets/sideworks/drawing_3.png")
        img.js-img-preview(src="/assets/sideworks/drawing_4.png")
        img.js-img-preview(src="/assets/sideworks/drawing_5.png")
        img.js-img-preview(src="/assets/sideworks/drawing_6.png")