include _mixin.pug
+base('Yi Nie - Product Designer')
    section.other-section
        h1.title prototypes and animations
        .container
            .other-project
                video(autoplay, loop, preload="auto")
                    source(src="/assets/prototypes/snooze_prototype.mp4")
                .info
                    h2.title alarm snoozing interaction
                    p.tool Tool - Principle
            .other-project.-large
                video(autoplay, loop, preload="auto")
                    source(src="/assets/prototypes/paper_plane_1080p.mp4")
                .info
                    h2.title paper plane
                    p.tool Coding - SVG animation
            .other-project.-large
                video(autoplay, loop, preload="auto")
                    source(src="/assets/prototypes/simple_task_1080p.mp4")
                .info
                    h2.title todo app interaction
                    p.tool Coding - HTML, CSS, JavaScript
            .other-project
                video(autoplay, loop, preload="auto")
                    source(src="/assets/prototypes/yelp_1080p.mp4")
                .info
                    h2.title recipe prototype
                    p.tool Tool - Framer.js

    section.other-section
        h1.title illustration

        h2.subtitle business organization icon set
        .container
            .other-project
                img._full-width(src="/assets/illustration/business1.png")
            .other-project
                img._full-width(src="/assets/illustration/business2.png")
            .other-project
                img._full-width(src="/assets/illustration/business3.png")
            .other-project
                img._full-width(src="/assets/illustration/business4.png")
            .other-project
                img._full-width(src="/assets/illustration/business5.png")
            .other-project
                img._full-width(src="/assets/illustration/business6.png")

        h2.subtitle life icon set
        .container
            .other-project
                img._full-width(src="/assets/illustration/life1.png")
            .other-project
                img._full-width(src="/assets/illustration/life2.png")
            .other-project
                img._full-width(src="/assets/illustration/life3.png")
            .other-project
                img._full-width(src="/assets/illustration/life4.png")
            .other-project
                img._full-width(src="/assets/illustration/life5.png")
            .other-project
                img._full-width(src="/assets/illustration/life6.png")

        h2.subtitle UX process icon set
        .container
            .other-project
                img._full-width(src="/assets/illustration/process1.png")
            .other-project
                img._full-width(src="/assets/illustration/process2.png")
            .other-project
                img._full-width(src="/assets/illustration/process3.png")
            .other-project
                img._full-width(src="/assets/illustration/process4.png")
            .other-project
                img._full-width(src="/assets/illustration/process5.png")
            .other-project
                img._full-width(src="/assets/illustration/process6.png")
            .other-project
                img._full-width(src="/assets/illustration/process7.png")
            .other-project
                img._full-width(src="/assets/illustration/process8.png")

        h2.subtitle user type avatars
        .container
            .other-project
                img._full-width(src="/assets/illustration/user1.png")
            .other-project
                img._full-width(src="/assets/illustration/user2.png")
            .other-project
                img._full-width(src="/assets/illustration/user3.png")
            .other-project
                img._full-width(src="/assets/illustration/user4.png")

        h2.subtitle other illustrations
        .container
            .other-project
                img._full-width(src="/assets/illustration/fun1.png")
            .other-project
                img._full-width(src="/assets/illustration/fun2.png")
            .other-project
                img._full-width(src="/assets/illustration/fun3.png")

    +footer
