/* page common */
@import 'common.css';
:root{
  --darkbg: #2D3E5A;
  --shading: #F5FAFF;
}

section{
  padding: 80px 100px;
  padding: 80px calc(50vw - 500px);
}
@media screen and (max-width: 1200px){
  section{
    padding: 60px 100px;
  }
}
@media screen and (max-width: 800px){
  section{
    padding: 50px 40px;
  }
}

ul{
  margin: 20px;
}
.bg-shading{
  background: var(--shading);
}
.bg-arrow{
  padding-top: 180px;
  position: relative;
}
.bg-arrow:before{
  content: '';
  display: block;
  position: absolute;
  left: 0;right: 0;top: 0;
  height: 0;
  border-top: 100px solid var(--shading);
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

/*font*/
h1{
  font-size: 2.5em;
}
.section-type{
  font-size: .8em;
  text-align: center;
  color: var(--main);
  letter-spacing: .3em;
}
h2{
  font-size: 1.8em;
  text-transform: capitalize;
  text-align: center;
  font-weight: light;
  margin: .3em;
}
h3{
  font-weight: normal;
  margin: 1em 0 .3em;
  text-transform: capitalize;
}
h3:before{
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background: var(--main);
  margin-bottom: .5em;
}
p, li{
  font-weight: lighter;
}
h2 + p {
  text-align: center;
  margin-bottom: 3em;
}
.bold{
  font-weight: bold;
}
.small{
  font-size: .8em;
}
.dark{
  color: #222;
}
.light-blue{
  color: #20ABE3;
}
.number{
  color: var(--main);
  font-size: 1.8em;
  font-weight: normal;
  margin-right: 8px;
}

/*flex*/
.flex-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-container.top{
  align-items: flex-start;
}
.flex-container.column{
  flex-direction: column;
}
.flex-container .flex-item{
  flex-basis: 50%;
}
.flex-item{
  padding: 20px;
}

/*img*/
.img-with-shadow{
  transform: scale(1.2);
}

/* intro section */
.intro{
  width: 80%;
  margin: 50px auto 0;
}
@media screen and (max-width: 800px){
  .intro{
    width: 100%;
    margin: 80px auto 0;
  }
  h1{
    font-size: 2em;
  }
}

/*cover img*/
.project-cover{
  transform: scale(1.5) translateY(100px);
}
.section-info{
  padding-top: 200px;
  font-size: .9em;
}
@media screen and (max-width: 1200px){
  .project-cover{
    transform: scale(1.2) translateY(50px);
  }
  .section-info{
    padding-top: 100px;
  }
  .intro{
    padding-bottom: 20px;
  }
}

.flex-order{
  order: 2;
}
.step-triangle{
  height: 20px;
  width: 20px;
  border: 10px solid transparent;
  border-left: 10px solid var(--main);
  align-self: center;
}
@media screen and (max-width: 800px){
  .flex-container.direction{
    flex-direction: column;
  }
  .flex-container.direction .flex-order{
    order: 0;
  }
  .flex-container.direction .step-triangle{
    transform: rotate(90deg);
  }
}

.tab{
  opacity: .6;
  cursor: pointer;
  text-align: center;
}
.tab.active{
  opacity: 1;
  position: relative;
}
.tab.active:after{
  content: '';
  position: absolute;
  bottom: -0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 2em;
  width: 2em;
  border: 1em solid transparent;
  border-bottom: 1em solid var(--darkbg);
}
.tab-content{
  align-items: flex-start;
  background: var(--darkbg);
  margin: 0 -500px -80px;
  padding: 2em 500px;
}
.tab-content *{
  color: #fff;
}
@media screen and (max-width: 1200px){
  .tab-content{
    margin: 0 -500px -60px;
  }
}
@media screen and (max-width: 800px){
  .tab-content{
    margin: 0 -500px -40px;
  }
}

.footer-nav-wrap{
  margin: 3em 0;
}
.footer-nav-left,
.footer-nav-right{
  margin: 0;
}
.footer-nav-right{
  text-align: right;
}
.footer-nav-arrow{
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .8em;
}
.footer-nav-name{
  color: #333;
  text-transform: capitalize;
}
