doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Base Mobile CRM Redesign - Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/project.css')
  body
    header
        a(href="/index.html")
            img.logo(src='/assets/logo.png')
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="/index.html") home
            a.nav-item.font-gilroy.design(href="/index.html#design") design
            a.nav-item.font-gilroy.prototype(href="/index.html#prototype") prototype
            
    //- intro
    section.intro.center
        h1.font-gilroy Base Mobile CRM Redesign
        p.project-subtitle What's the status of my deals?
        img.project-cover.full-width(src="/assets/base/cover_base_crm.png")

    //- info
    section.bg-shading.section-info
        .flex-container.direction.top.even-2
            .flex-item
                p.font-gilroy.dark overview
                p This project is the redesigning of the deal profile part of the Base CRM mobile app.
            .flex-item
                p.font-gilroy.dark my role
                p It's an individual project. I conducted user research, designed the interfaces and interactions from sketch to hi-fidelity mock, and created interaction prototypes.
    
    section
        h2 coming soon
        a.primary-button.center(href="/assets/dashboard/base-design-doc.pdf", target="_blank", style="display: block") view document

    footer
        .footer-nav-wrap.flex-container
            a(href="/projects/credible_dashboard.html").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name credible offer dashboard
            .flex-space
            a(href="/projects/ngo.html").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name NGO registration process
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="/index_old.html", target="_blank") my old portfolio

    script.
        console.log('Hi, I\'m Yi Nie. Welcome to my site!');