include ../_mixin.pug
+base('Base Mobile CRM Redesign - Yi Nie - Product Designer', true)

    //- intro
    section.intro.center
        h1.font-gilroy Base Mobile CRM Redesign
        p.project-subtitle What's the status of my deals?
        img.project-cover.full-width(src="/assets/basecrm/cover_base_crm.png")

    //- info
    section.bg-shading.section-info
        .flex-container.direction.top.even-2
            .flex-item
                p.font-gilroy.dark overview
                p This project is the redesigning of the deal profile part of the Base CRM mobile app.
            .flex-item
                p.font-gilroy.dark my role
                p It's an individual project. I conducted user research, designed the interfaces and interactions from sketch to hi-fidelity mock, and created interaction prototypes.
    
    section
        a.primary-button.center(href="/assets/basecrm/base-design-doc.pdf", target="_blank", style="display: block") view document

    footer
        .footer-nav-wrap.flex-container
            a(href="/projects/credible_dashboard.html").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name credible offer dashboard
            .flex-space
            a(href="/projects/credible_cosigner.html").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name credible cosigner pre-qualification
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            a(target="_blank" href="mailto:yinie.ux@gmail.com") yinie.ux@gmail.com
