doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Credible Offer Dashboard Redesign - Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='../css/project.css')
  body
    header
        a(href="/index.html")
            img.logo(src='../img/logo.png')
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="../index.html") home
            a.nav-item.font-gilroy.design(href="../index.html#design") design
            a.nav-item.font-gilroy.prototype(href="../index.html#prototype") prototype
            
    //- intro
    section.intro.center
        h1.project-title.font-gilroy credible offer dashboard redesign
        p.project-subtitle Which student loan refinancing option should I choose?
        img.project-cover(src="../img/credible/cover.png")

    //- info
    section.bg-shading.section-info
        .flex-row.flex-row-even
            .flex-item
                p.font-gilroy.info-title overview
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis, malesuada fringilla metus. Aenean viverra felis sed diam interdum, a tincidunt ligula bibendum. Morbi scelerisque convalli eget
            .flex-item
                p.font-gilroy.info-title my role
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Crass ipsum a posuere. Integer volutpat ex non scelerisque pellentesque. Donec quis tortor aliquet, fringilla purus

    //- problem
    section
        p.section-type.font-gilroy the problem
        h1 which offer should I choose?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis, malesuada fringilla metus. Aenean viverra felis sed diam interdum, a tincidunt ligula bibendum.
        .section-img-wrap
            img(src="../img/credible/problem_ui.png")
            img(src="../img/credible/problem_person.png")

    //- research
    section.bg-shading
        p.section-type.font-gilroy user research
        h1 how do people make choices?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis, malesuada fringilla metus. Aenean viverra felis sed diam interdum, a tincidunt ligula bibendum.
        .quote-wrap
            p.quote-title "I can only pay up to $600 a month"
            p.bold-small Filter the options with fixed criteria in mind
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis
        .quote-wrap
            p.quote-title "I can only pay up to $600 a month"
            p.bold-small Filter the options with fixed criteria in mind
            p Lorem ipsum do ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquamlor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis

    //- design overview
    section.bg-arrow
        p.section-type.font-gilroy user research
        h1 how do people make choices?
        .flex-row.center.flex-row-even
            .flex-item
                img.full-width(src="../img/credible/a.png")
                p.bold-small Include current loan information
            .flex-item
                img.full-width(src="../img/credible/a.png")
                p.bold-small Improve usability of filters
            .flex-item
                img.full-width(src="../img/credible/a.png")
                p.bold-small Archive options not interested

    //- design goal 1
    section
        h2 Where does current loan information live?
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at e
        ul
            li How should we
            li How should we

    //- design goal 1 - img
    section.flex-row.bg-shading
        .flex-item
            p.iteration-title
                span.number 1
                | st iteration
            img.iteration-img(src="../img/credible/a.png")
        img.iteration-arrow(src="../img/credible/a.png")
        .flex-item
            p.iteration-title
                span.number 2
                | nd iteration
            img.iteration-img(src="../img/credible/a.png")
        img.iteration-arrow(src="../img/credible/a.png")
        .flex-item
            p.iteration-title
                span.number 3
                | rd iteration
            img.iteration-img(src="../img/credible/a.png")

    //- design goal 2
    section
        h2 Improve the usability of filters
        img.full-width(src="../img/credible/a.png")
        .flex-row
            .flex-item
                p.bold-small
                    span.number 1
                    | Slider v.s. Input
                p em ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quipsum dolor sit amet, consectetur adipiscing elit. Cras nunc torto
            .flex-item
                p.bold-small
                    span.number 2
                    | Checkbox, Dropdown or Radio
                p em ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quipsum dolor sit amet, consectetur adipiscing elit. Cras nunc torto

    //- design goal 3
    section
        h2 archive and compare offers
        .flex-row
            .flex-item
                img.full-width(src="../img/credible/a.png")
            .flex-item
                p.bold-small
                    span.number 1
                    | Archive offers that users are not interested in
                p ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at erosit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quip
        .flex-row
            .flex-item
                p.bold-small
                    span.number 2
                    | Archive offers that users are not interested in
                p ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at erosit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quip
            .flex-item
                img.full-width(src="../img/credible/a.png")
    
    //- usability testing
    section.bg-shading
        p.section-type.font-gilroy usability testing
        h1 listen to user's voice and keep iterating

        h2 test overview
        ul
            li Participants found the ...
            li Participants still have...

        h2 iteration
        .flex-row.flex-row-even
            .flex-item
                img.full-width(src="../img/credible/a.png")
            .flex-item
                img.full-width(src="../img/credible/a.png")
        p etur adipiscing elit. Cras nunc tortor, aliquam at erosit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros 

    //- visual
    section
        p.section-type.font-gilroy visual design
        h1 refresh the look
        p etur adipiscing elit. Cras nunc tortor, aliquam at erosit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros 
        
        h2 add a title here
        .flex-row.flex-row-even
            .flex-item
                img.full-width(src="../img/credible/a.png")
                p.bold-small Before
            .flex-item
                img.full-width(src="../img/credible/a.png")
                p.bold-small After
        
        h2 the new dashboard interface
        img.full-width(src="../img/credible/a.png")

        h2 style guide
        img.full-width(src="../img/credible/style_guide.png")

    section.bg-shading
        p.section-type.font-gilroy the end
        h1 thanks for reading?
        p Taking advantages of t, consectetur adipiscing elit. Cras nunc tortor, aliquam at erosit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros 

    footer
        .footer-nav-wrap.flex-row
            a(href="#").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name photo management app
            .flex-space
            a(href="#").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name photo management app
        .footer-copy.flex-row
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="../v2/index.html", target="_blank") my old portfolio
