include ../_mixin.pug
+base('Credible Co-signer prequalification - Yi Nie - Product Designer', true)

    .page-banner
        img.bg(src="/assets/_bg/side-banner.png")
        .content
            p.small-title web app
            h1.big-title._gilroy-title Streamline the co-signing experience 
            p.more Led the redesign of Credible's co-signing experience from start to finish including user flow, interaction design and visual design for both desktop and mobile.

    section.intro.center
        img.project-cover.full-width(src="/assets/credible_cosigner/_preview.png")

    //- info
    section.bg-shading.section-info
        .flex-container.direction.top.even-2
            .flex-item
                p.font-gilroy.dark overview
                p Streamline the co-signing process at Credible’s, encourage more users to add co-signers and receive better rates.
            .flex-item
                p.font-gilroy.dark my role
                p Led the redesign of Credible's co-signing experience for student loan refinancing, including user flow, interaction design and visual design for both desktop and mobile.
    
    section
        a.primary-button.center(href="/assets/credible_cosigner/slides.pdf", target="_blank", style="display: block") view document

    footer
        .footer-nav-wrap.flex-container
            a(href="/projects/basecrm.html").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name Base CRM redesign
            .flex-space
            a(href="/projects/photo.html").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name Photo management app
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            a(target="_blank" href="mailto:yinie.ux@gmail.com") yinie.ux@gmail.com
