include ../_mixin.pug
+base('Yi Nie - Loan Application form A/B testing').load_form
    main.project-grid
      .title-container.grid-both
        h1.upper-line Loan Application form A/B testing
        p Led the design of 3 around of iterations and a/b testing of Credible's loan pre-qualification form.
      .hero-container.grid-right
        img.hero-image(src="http://yi-nie.com/assets/credible_cosigner/detail-3.png", alt="Hero image")

      h2.upper-line Background
      div
        p Credible is marketplace for student loans, student loan refinancing and personal loan. We help borrowers compare personalized and accurate rates from multiple lenders so that borrowers can choose the one that best fits their need.
        h4 The important part of borrowing process
        p Borrowers land on Credible, finish the pre-qualification form and they will be able to see their rates on dashboard. Then borrowers pick one offer, finish up the rest of information lenders need. Finally, they will be able to submit their loan request to lender. 
        p Pre-qualification form is a crucial part of the whole process and this project is mostly focusing on pre-qualification form. 


      .grid-both.bleeding
        img(src="http://yi-nie.com/assets/credible_cosigner/user-flow-old.png", alt="Borrowing experience")


      h2.upper-line Goal and Metrics
      div
        h3 Increase the conversation of pre-qualification form
        p Before I started, it’s important and understand the problem and make sure all the stakeholders are aligned at same goal. So I talked to product manager, loan operation and client success team and list out the following design success.
        h4 Business goal:
        p 1. Increasing the conversation rate of pre-qualification form:increase the percentage of user who finished the form compared to number of users who start the form. 
        p 2. Improve conversion rates down the funnel: A success design shouldn’t hurt the conversion of later steps like picking up a loan, submit the request and closing the loan. On the other hand, if the design have positive impact on these aspects, we could consider it as successful. 
        h4 UX goal:
        p 1. Improve the experience of pre-qualification form.  Make the form easier and more friendly to fill out.
        p 2. Always learn from the a/b testing


      .grid-right
        h2.-standalone 1st round - A broder exploration


      h2.upper-line Research
      div
        h3 Where are the opportunities?
        p Conversation data from GA reveals that there is a large drop off on first step and third step. To understand why people are dropping off, I conducted user testing on our current form.
        h4 User testing results:
        p 1. User don’t want to create account 
        p 2. Users have difficulties answering certain questions, they need to click into tooltip, some users didn’t see the tooltip at all 
        p 3. Overall, user feel the form is straightforward and standard as other loan application site, they expect they will be asked personal information.


      h2.upper-line Hypothesis and Concepts
      div
        h3 Where are the opportunities?
        p The important part of A/B test is to define the hypothesis so that we can control the baseline and test variation to make sure we can confidently learn from these experiments.  Based on our user research insights, I came out with concepts and hypothesis to test: 
        h4 Concept 1 : Different flows of creating account
        p The most important f 
