include ../_mixin.pug
+base('NGO Registration Process - Yi Nie - Product Designer', true)

    //- intro
    section.intro.center
        h1.font-gilroy NGO Registration Process
        p.project-subtitle 
        img.project-cover.full-width(src="/assets/ngo/cover_ngo_registration.png")

    //- info
    section.bg-shading.section-info
        .flex-container.direction.top.even-2
            .flex-item
                p.font-gilroy.dark overview
                p It's a volunteering work with a non-profit organization - UniversalGivings.
            .flex-item
                p.font-gilroy.dark my role
                p I'm the only product design, responsible for the interface design from low-fidelity wireframes to hi-fidelity mock. I work with the manager (PM).

    section
        h2 coming soon

    footer
        .footer-nav-wrap.flex-container
            a(href="/projects/basecrm.html").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name base mobile CRM redesign
            .flex-space
            a(href="/projects/photo.html").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name photo management mobile app
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            a(target="_blank" href="mailto:yinie.ux@gmail.com") yinie.ux@gmail.com

    script.
        console.log('Hi, I\'m Yi Nie. Welcome to my site!');
