doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Photo Management App Design - Yi Nie - UX designer, Prototyper
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/project.css')
  body
    header
        a(href="/index.html")
            img.logo(src='/img/logo.png')
        .flex-space
        nav
            a.nav-item.font-gilroy.about(href="/index.html") home
            a.nav-item.font-gilroy.design(href="/index.html#design") design
            a.nav-item.font-gilroy.prototype(href="/index.html#prototype") prototype
            
    //- intro
    section.intro.center
        h1.font-gilroy photo management mobile app
        p.project-subtitle It always takes me several hours to organize my photos
        img.project-cover.project-cover-bleeding.full-width(src="/img/photo/header.png")

    //- info
    section.bg-shading.section-info
        .flex-container.direction.top.even-2
            .flex-item
                p.font-gilroy.dark overview
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis, malesuada fringilla metus. Aenean viverra felis sed diam interdum, a tincidunt ligula bibendum. Morbi scelerisque convalli eget
            .flex-item
                p.font-gilroy.dark my role
                p Lorem ipsum dolor sit amet, cons purus

    //- problem
    section
        p.section-type.font-gilroy reframe the problem
        h2 why a mobile photo management app?
        p The first brainstorming session of my process is always asking a lot of questions. Asking questions and analyze them can help me better understand the context and figure out next steps.  On the other hand asking a lot “why” questions helps me to better understand users needs and reframe research questions.
        .flex-container.direction.top.even-2
            .flex-item
                p.bold.dark Questions I asked
                ul
                    li Why mobile? What do users want to achieve? 
                    li What are the scenarios that users use photo management application on phone? Where and When? 
                    li How do users manage their photos now? 
                    li Do they use any similar products? 
                    li What are their pain points that haven’t been covered by current products?
            .step-triangle
            .flex-item
                p.bold.dark Research questions
                ul
                    li What devices do you have to take and store or photos? 
                    li What kind of photos do you usually take?
                    li How do you manag your photos now?
                    li Do you use any photo management or eidt application? 
                    li Can you walk me through how you use these application last time?

    //- research
    section.bg-shading
        p.section-type.font-gilroy user research
        h2 find the common pain points
        p  After conducted 6 user interviews. I wrote different users interview notes on different colored sticky notes and organized them according to different functions of photo organize application. This helps me to better understand what is the main pain point and what are the different needs of different users, so that I can balance and trade off when making decisions.
        .flex-container.direction
            .flex-item
                img.full-width(src="/img/photo/research.png")
            .flex-item
                p After doing an affinity diagram of the interview notes, I mapped out the basic functions and found that the most common pain point is that users need an efficient and effective way to organize and search photos but they all have different using context and motivations behind it.

    //- competitor
    section#competitor
        p.section-type.font-gilroy competitor analysis
        h2 understand existing products
        p I conducted Competitive Analysis to help me understand current market place. What are the issues that these products didn’t covered and identity potential market opportunity. I chose Google Photo, Apple Photo, QuickPics, Slidebox according to online reviews. During the competitor Analysis, I tried these application, listed out their main functions, mapped out their information architecture, took notes of their UI and IxD design.
        .flex-container.tab-4-container
            .flex-item.tab.active(data-tab='1')
                img.full-width(src="/img/photo/competitor1-icon.png")
                p.dark Google Photos
            .flex-item.tab(data-tab='2')
                img.full-width(src="/img/photo/competitor2-icon.png")
                p.dark iOS Photos
            .flex-item.tab(data-tab='3')
                img.full-width(src="/img/photo/competitor3-icon.png")
                p.dark Slidebox
            .flex-item.tab(data-tab='4')
                img.full-width(src="/img/photo/competitor4-icon.png")
                p.dark Quickpics
        .tab-content.tab-content-1.flex-container.direction.even-2
            .flex-item
                p.bold.light-blue Positives:
                ul
                    li Auto Back up
                    li Image Recognition: users are able to directly search subject in their photos
                    li Multiple search ways: places people
                    li Easy sharing: could share via links
                p.bold.light-blue Negatives:
                ul
                    li Information Architecture and tab labels are not clear enough for users
                    li Auto stylized photo and auto classification are not accurate for pro users
                    li Only one way to view photos.  
            .flex-item
                img.full-width(src="/img/photo/competitor1-ia.png")
        .tab-content.tab-content-2.flex-container.direction.even-2(style="display:none")
            .flex-item
                p.bold.light-blue Positives:
                ul
                    li Add geology information to each photo
                    li Map view is useful for users who like traveling
                    li Preview bar at the bottom of slideshow mode is easy for user to navigate through different photos
                    li Categorize photo into selfies screen shots, etc
                p.bold.light-blue Negatives:
                ul
                    li Search by time can only search by month 
                    li Map view can only be accessed through the place tags and users can only view the certain area, they can’t zoom in or zoom out.
            .flex-item
                img.full-width(src="/img/photo/competitor2-ia.png")
        .tab-content.tab-content-3.flex-container.direction.even-2(style="display:none")
            .flex-item
                p.bold.light-blue Positives:
                ul
                    li The application provide user enough flexibility to organize photos
                    li Use tags to organize photos 
                    li Multiple way to sort photos 
                p.bold.light-blue Negatives:
                ul
                    li Renaming all photo names are time consuming
                    li “Home” and “Tags“ tab will switch to each other when users tabbing it
            .flex-item
                img.full-width(src="/img/photo/competitor2-ia.png")
        .tab-content.tab-content-4.flex-container.direction.even-2(style="display:none")
            .flex-item
                p.bold.light-blue Positives:
                ul
                    li Convenient and easy way to add photos into albums
                    li Use gesture to delete photos 
                p.bold.light-blue Negatives:
                ul
                    li Only show unsorted photos. Users have to view other photos in albums
                    li Users can only put these photos into different albums, there is no more actions users can take
                    li Albums can’t sync with local storage 
            .flex-item
                img.full-width(src="/img/photo/competitor4-ia.png")

    //- synthesis
    section.bg-shading
        p.section-type.font-gilroy research synthesis
        h2 putting findings together
        p After the interview notes  analysis and competitor analysis, I synthesize all the information I had now, which can help me with initial ideation. I listed out the research insights, generated some design guidelines.
        .flex-container.direction.top.even-2
            .flex-item
                p.bold.dark Research insights
                ul
                    li Different users have different habit of viewing and finding their photos like by trip and by events
                    li Most users would like to do complex edition of the photos using third applications. They may do basic editing like rotate and crop in the photo management tool
                    li Most users like to share photos with others 
                    li Sync and back up of photos are important. Many users have more than one devices 
                    li How to organize photos efficiently is not well designed by most of the application but it is important for users   
            .step-triangle
            .flex-item
                p.bold.dark Design guidelines
                ul
                    li Provide different view mode according to different users’ habit like map view or timeline view
                    li Provide very basic edit tool instead of complex editing options 
                    li Provide convenient and easy way to share
                    li Provide auto sync and back up between multiple devices

    //- ideation
    section.bg-arrow#ideation
        p.section-type.font-gilroy initial ideation
        h2 design goals and key consideration
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nunc tortor, aliquam at eros quis, malesuada fringilla metus. Aenean viverra felis sed diam interdum, a tincidunt ligula bibendum.
        .flex-container.tab-3-container
            .flex-item.tab.active(data-tab='1')
                img.full-width(src="/img/photo/idea1-icon.png")
                p.dark Organizing photos efficiently
            .flex-item.tab(data-tab='2')
                img.full-width(src="/img/photo/idea2-icon.png")
                p.dark Viewing photos in various ways
            .flex-item.tab(data-tab='3')
                img.full-width(src="/img/photo/idea3-icon.png")
                p.dark Searching photos easily
        .tab-content.tab-content-1.flex-container
            .flex-item
                img.full-width(src="/img/photo/idea1-1.png")
                p.bold.light-blue Timeline View
                p
                    span.bold Pros: 
                    span Photos are organized by events so that users can find view and share with friends easier

                p
                    span.bold Cons: 
                    span Can’t view every photo with one glance
            .flex-item
                img.full-width(src="/img/photo/idea1-2.png")
                p.bold.light-blue Device
                p
                    span.bold Pros: 
                    span It’s easier for users who have multiple devices to organize their photos
                p
                    span.bold Cons: 
                    span Not useful for user who owns one device
            .flex-item
                img.full-width(src="/img/photo/idea1-3.png")
                p.bold.light-blue One Photo One Line
                p
                    span.bold Pros: 
                    span Users can view their photos without tapping on pics, integrate gesture for quick interaction
                p
                    span.bold Cons: 
                    span Can only view a few photos at one time
            .flex-item
                img.full-width(src="/img/photo/idea1-4.png")
                p.bold.light-blue Map View
                p
                    span.bold Pros: 
                    span Photos are organized in map view providing better experience for users who like traveling
                p
                    span.bold Cons: 
                    span Can’t view every photo with one glance
            .flex-item
                img.full-width(src="/img/photo/idea1-5.png")
                p.bold.light-blue Time Order
                p
                    span.bold Pros: 
                    span Users are familiar with the UI pattern. they can find photos via time 
                p
                    span.bold Cons: 
                    span Hard to find photos for user who took a lot photos
        .tab-content.tab-content-2.flex-container(style="display:none")
            .flex-item
                img.full-width(src="/img/photo/idea2-1.png")
                p.bold.light-blue Image Search
                p
                    span.bold Pros: 
                    span  Users can find subject easily by typing the word
                p
                    span.bold Cons: 
                    span Require accurate image recognition technology 
            .flex-item
                img.full-width(src="/img/photo/idea2-2.png")
                p.bold.light-blue Timeline View
                p
                    span.bold Pros: 
                    span Search result is displayed in different categories, users can choose from the results
                p
                    span.bold Cons: 
                    span Users need to find the exact photo by themselves within each category 
            .flex-item
                img.full-width(src="/img/photo/idea2-3.png")
                p.bold.light-blue Specify Search Requirements
                p
                    span.bold Pros: 
                    span Users input type and time before search via keywords to get more accurate result
                p
                    span.bold Cons: 
                    span Users need to input more information 
        .tab-content.tab-content-3.flex-container(style="display:none")
            .flex-item
                img.full-width(src="/img/photo/idea3-1.png")
                p.bold.light-blue Photo Batch
                p
                    span.bold Pros: 
                    span Put similar photos together and users can select one or two from several photos
                p
                    span.bold Cons: 
                    span Require image recognition technology 
            .flex-item
                img.full-width(src="/img/photo/idea3-2.png")
                p.bold.light-blue Swipe to Organize 
                p
                    span.bold Pros: 
                    span Users can swipe right to delete the photo and swipe left to add photo to an existing albums. Provide efficient interaction 
                p
                    span.bold Cons: 
                    span Users can only control one photo each time
            .flex-item
                img.full-width(src="/img/photo/idea3-3.png")
                p.bold.light-blue Select Mode
                p
                    span.bold Pros: 
                    span Users can select several photos tighter and add them to albums or delete. Users can control multiple photos at one time
                p
                    span.bold Cons: 
                    span Sometimes user still need to view the detail of photos via slideshow mode 

    //- information architecture
    section.bg-shading
        p.section-type.font-gilroy information architecture
        h2 clear hierarchy of information
        p With these ideas in mind, then I started to consider how these ideas can fit into the system. I created three different information architecture  and sketched out key screens.  In this way, I’m able to see how the ideas I came up can fit into different IA and what are the pros and cons of different system. Then I made paper prototype and did usability test.
        img.full-width(src="/img/photo/ia.png")

    //- visual and interaction
    section
        p.section-type.font-gilroy design details
        h2 manage your photos effortlessly

        .flex-container.column
            .flex-item
                img.full-width(src="/img/photo/design1.png")
            .flex-item
                p.bold.dark
                    span.number 1
                    | Different view modes to meet different users' needs
                p The application can provide five different view for different user needs. The default comfortable view, traditional grid view, map view for travelers and event view for users who took photos during event.

        .flex-container.direction
            .flex-item.flex-order
                p.bold.dark
                    span.number 2
                    | Photo organization on your swipe
                p Use swipe and long press to delete and select photo so that users don’t need to enter the slideshow mode. Users also have the flexibility to customize their own gesture preference to boost their own flow.
            .flex-item
                img.full-width(src="/img/photo/design2.png")
        .flex-container.direction
            .flex-item
                p.bold.dark
                    span.number 3
                    | Multiple photos selecting and organizing
                p Grid View is efficient to organize several photo together. In select mode, users can select multiple photos, share, download, and delete at one time. Existing albums will display at the bottom of the page so that users can add these photos into albums at one time.
            .flex-item
                img.full-width(src="/img/photo/design3.png")
        .flex-container.direction
            .flex-item.flex-order
                p.bold.dark
                    span.number 4
                    | Batching similar photos
                p From user research, some users like to take several picture at one time and select one or two from them. The “batch” feature can help them do it efficiently. The similar photos will be combined and users can select one or two then tapping “Done”. The selected picture will be saved and other picture will be deleted.
            .flex-item
                img.full-width(src="/img/photo/design4.png")
        .flex-container.direction
            .flex-item
                p.bold.dark
                    span.number 5
                    | Photos tab and settings tab
                p In the photos tab, users can view all the photos and albums. They can also change view mode and select multiple photo with same interaction. In the setting page, user can set up whether they want to use cellular data to back up photos. Considering some photos are taken by DSLR and file size is large, users can set the image quality to view on mobile, which can influence the usage of cellular data and loading speed. Users can also set their own gesture preferences.
            .flex-item
                img.full-width(src="/img/photo/design5.png")

    //- prototype
    section.bg-shading
        p.section-type.font-gilroy extra
        h2 want to learn more?
        p Try the prototype or view the full documentation to learn more about this prototype.
        .flex-container
            a.primary-button.primary-button-one-line(href="https://marvelapp.com/e22jc2", target="_blank") prototype link
            a.primary-button.primary-button-one-line(href="/files/photo.pdf", target="_blank") view document

    //- the end
    section
        p.section-type.font-gilroy the end
        h2 thanks for reading
        p Glad you made it! This is really a long post but there are still some details I didn’t show here such as three information architecture variations and usability test brief. If you are interested, check the full document here. 

    footer
        .footer-nav-wrap.flex-container
            a(href="/projects/ngo.html").flex-item.footer-nav-left
                p.footer-nav-arrow < previous
                p.footer-nav-name ngo registration process
            .flex-space
            a(href="/projects/credible_dashboard.html").flex-item.footer-nav-right
                p.footer-nav-arrow next >
                p.footer-nav-name credible offer dashboard
        .footer-copy.flex-container
            p.flex-space Designed and Coded by Yi Nie.
            p Want to see more? Visit 
                a(href="/index_old.html", target="_blank") my old portfolio

    style.
        .project-cover-bleeding{
          transform: scale(1.8) translateY(120px);
        }
        @media screen and (max-width: 1200px){
          .project-cover-bleeding{
            transform: scale(1.6) translateY(60px);
          }
        }

        #ideation .tab-content{
          font-size: .8em;
        }
        .tab-content-1{
            flex-wrap:wrap;
        }
        #ideation .tab-content .flex-item{
            max-width: 200px;
        }
        #ideation .tab-content-1 .flex-item{
            max-width: 190px;
        }

        .tab-3-container,
        .tab-4-container{
            align-items: stretch;
        }
        .tab-3-container .flex-item{
          flex-basis: 33%;
        }
        .tab-3-container .flex-item img{
          max-width: 150px;
        }
        .tab-4-container .flex-item{
          flex-basis: 25%;
        }
        .tab-4-container .flex-item img{
          max-width: 100px;
        }

    script(src="https://code.jquery.com/jquery-2.2.4.min.js", integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=", crossorigin="anonymous")
    script.
        console.log('Hi, I\'m Yi Nie. Welcome to my site!');

        $(function() {
            $('#ideation .tab').click(function(){
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $('#ideation .tab-content').hide();
                $('#ideation .tab-content-' + $(this).attr('data-tab')).show();
            });

            $('#competitor .tab').click(function(){
                $(this).addClass('active');
                $(this).siblings().removeClass('active');
                $('#competitor .tab-content').hide();
                $('#competitor .tab-content-' + $(this).attr('data-tab')).show();
            });
        });