/* ---------------- load fonts ---------------- */
@font-face {
  font-family: Gilroy;
  src: url(../assets/_font/Gilroy_ExtraBold.otf);
}

/* ---------------- normalize ---------------- */
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Karla', 'Helvetica', sans-serif;
  line-height: 1.6;
  color: #222;
  font-size: 16px;
  font-size: calc(12px + .3vw);
  overflow-x: hidden;
}
@media screen and (max-width: 1000px){
  html, body{
    font-size: 16px;
  }
}
a{
  text-decoration: none;
  color: inherit;
  opacity: .8;
  transition: .2s opacity ease;
  cursor: pointer;
}
a:hover{
  opacity: 1;
}
ul{
  padding-left: 2em;
}
p, li{
  color: #aaa;
  font-size: 1rem;
}
p{
  margin: .5em 0;
}
video, img{
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
}
