@import './_variables';

/* ---------------- helper ---------------- */
._body-width{
  width: 100%;
  max-width: 1280px;
  padding: 0 60px;
  margin: 0 auto;
}
._flex-space{
  flex-grow: 1;
}
._round{
  border-radius: 50%;
}
._center{
  text-align: center;
}
._full-width{
  width: 100%;
}
._gilroy-title{
  font-family: 'Gilroy', 'Gotham_Narrow', 'Helvetica', sans-serif;
  text-transform: uppercase;
  letter-spacing: .1em;
}

._primary-link{
  display: inline-block;
  margin: 8px 0;
  padding: 4px 0;
  color: var(--main);
  font-weight: bold;
  text-transform: capitalize;
}
._primary-link:after{
  content: '>';
  padding-left: 5px;
}

.two-column{
  font-size: 0;
  margin: 40px 0;

  & > div{
    vertical-align: middle;
    font-size: 16px;
    display: inline-block;
    width: 50%;
    padding: 20px;
  }
}

.three-column{
  font-size: 0;
  margin: 40px 0;

  & > div{
    vertical-align: middle;
    font-size: 16px;
    display: inline-block;
    width: 33%;
    padding: 20px;
  }
}

.four-column{
  font-size: 0;
  margin: 40px 0;

  & > div{
    vertical-align: middle;
    font-size: 16px;
    display: inline-block;
    width: 25%;
    padding: 20px;
  }
}

/* ---------------- site header ---------------- */
.site-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 10;
  transition: box-shadow .5s ease;

  & > .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    transition: padding .5s ease;
  }
}

.logo-link{
  display: block;
  width: 50px;
  transition: width .5s ease;

  & > img{
    width: 100%;
    vertical-align: middle;
  }
}

.site-nav{
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: .2em;
  font-weight: 500;

  & > .item{
    display: inline-block;
    margin: 8px 20px;
  }
}

body{
  padding-top: 100px;
}

.site-header.-collapse{
  box-shadow: 0 0 5px #ddd;
  background: #fff;

  & > .container{
    padding: 8px 60px;
    & > .logo-link{
      width: 30px;
    }
  }

}

/* ---------------- page banner -------------------- */
.page-banner{
    background-color: #F1F6FF;
    text-align: center;
    padding: 5em 1em 0;
    margin-top: -100px;
    margin-bottom: 180px;
    position: relative;

    &.-with-vert-line{
      margin-bottom: 260px;
      &:after{
        @apply --vert-line;
        position: relative;
        top: 230px;
      }
    }

    & > .content {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 50%);
        width: 80%;
        background: #fff;
        max-width: 900px;
        padding: 60px 50px 20px;

        & > .small-title{
            color: var(--main);
            font-weight: 500;
            text-transform: uppercase;
            font-size: .8em;
            letter-spacing: 5px;
        }
        & > .big-title{
            text-transform: uppercase;
            font-size: 2em;
            font-weight: 400;
        }
        & > .more{
            font-size: .9em;
        }
    }
}

/* ---------------- site footer ---------------- */
.site-footer{
  margin: 100px 0 20px;
  font-size: .8em;
  display: flex;
  justify-content: space-between;
}
