/* ---------------- fonts ---------------- */
@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy_ExtraBold.otf);
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../font/Gotham_Narrow_Book.otf);
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../font/Gotham_Narrow_Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: Gotham_Narrow;
  src: url(../font/Gotham_Narrow_Light.otf);
  font-weight: light;
}
.font-gilroy{
  font-family: Gilroy;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .1em;
}

:root{
  --main: #005EFE;
}
html{
  font-family: Gotham_Narrow;
  line-height: 1.5;
  color: #222;
  font-size: 16px;
  font-size: calc(8px + .8vw);
  overflow-x: hidden;
}
@media screen and (max-width: 1000px){
  html {
    font-size: 16px;
  }
}
*, *:after, *:before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*user-select: none;*/
}
a{
  text-decoration: none;
  color: inherit;
  opacity: .8;
  transition: .2s opacity ease;
}
a:hover{
  opacity: 1;
}
p, li{
  color: #999;
}
:focus{
  outline: none;
}
.flex-space{
  flex-grow: 1;
}
.round{
  border-radius: 50%;
}
.full-width{
  width: 100%;
}
.center{
  text-align: center;
}

.primary-button{
  display: inline-block;
  margin: 8px 0;
  padding: 4px 0;
  color: var(--main);
  font-weight: bold;
  text-transform: capitalize;
}
.primary-button:after{
  content: '>';
  padding-left: 5px;
}

/* ---------------- header ---------------- */
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 20px 100px;
  background: #fff;
  z-index: 10;
}

.nav-item{
  display: inline-block;
  font-size: .8em;
  margin: 8px 20px;
  letter-spacing: .2em;
}


/* ---------------- footer copy ---------------- */
footer{
  margin-bottom: 30px;
  padding: 40px 100px 0;
  align-items: center;
}
.footer-copy{
  display: flex;
}

.footer-copy p{
  margin: 8px 0;
}

/* ---------------- responsive ---------------- */
@media screen and (max-width: 800px){
  header, footer{
    padding: 20px 40px;
  }
}
@media screen and (max-width: 700px) {
  .footer-copy{
    flex-direction: column;
  }
  .footer-text{
    order: 2;
  }
}
@media screen and (max-width: 480px){
  header, footer{
    padding: 20px 12px;
  }
  .logo{
    width: 36px;
  }
  .nav-item{
    margin: 8px;
  }
}