@import './_variables';

.home-intro{
  padding: 5em 0 12em;
  position: relative;

  & > .title{
    font-size: 2.5em;

    &:after{
      display: block;
      @apply --line;
    }
  }

  & > .description{
    font-size: 1.2em;
  }
}
.home-project{
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:nth-child(even) > .home-project-content{
    order: 1;
  }

  & > div{
    flex: 1 0 0;
    padding: 20px;
  }
}


.home-project-content{
  & > .type{
    font-size: 1em;
    color: #005efe;
    letter-spacing: .3em;
    text-transform: uppercase;
  }
  & .title{
    font-size: 1.3em;
    line-height: 1.2;
  }
}

.home-project-info{
  display: flex;
  margin-top: 1em;

  &:before{
    display: block;
    @apply --line;
    flex: 1 0 15%;
    margin-right: 10px;
    margin-top: 14px;
  }
}

.home-project-preview {
  position: relative;
  text-align: center;
  transition: transform .5s ease;

  & > .frame,
  & > .frame-shadow{
    position: absolute;
    left: 50%;
  }
  & > .frame-shadow{
    opacity: 0;
    transition: opacity .5s ease;
  }
  & > .screen{
    border: 1px solid #ddd;
    position: relative;
    z-index: 1;
  }

  &.-mobile{
    & > .frame,
    & > .frame-shadow {
      width: 50%;
      top: -7%;
      transform: translateX(-50%);
    }

    & > .screen{
      width: 42%;
    }

    &:hover {
      transform: translateY(-5px);
      & .frame-shadow{ opacity: 1; }
    }
  }

  &.-desktop{
    transform: translateX(-6%);

    & > .frame,
    & > .frame-shadow {
      transform: translateX(-50%) scale(1.32);
      width: 100%;
      top: 9%;
    }

    & > .screen{
      width: 100%;
    }

    &:hover {
      transform: translate(-6%, -5px);
      & .frame-shadow{ opacity: 1; }
    }
  }
}

.home-contacts{
  text-align: center;
  margin-top: 120px;

  & > .title{
    text-transform: uppercase;
    margin-bottom: 40px;

    &:before, &:after{
      @apply --line;
      display: inline-block;
      margin: 20px;
      vertical-align: middle;
    }
  }

}

.home-contacts-container{
  display: flex;
  justify-content: space-around;

  & > .contact{
    text-transform: uppercase;

    & > svg{
      display: block;
      margin-bottom: 16px;
    }
  }
}

/***************** contacts icon animation ********************/
.contact:hover{
  & #flag{ transform: rotate(-90deg); }
  & #mail{ animation: mail alternate .8s ease-in-out infinite; }
  & #balloon{ animation: floating alternate 1s ease-in-out infinite; }
  & .bubble{ opacity: 1; }
  & .dot1{ animation: dot1 1s ease-in-out infinite; }
  & .dot2{ animation: dot2 1s ease-in-out infinite; }
  & .dot3{ animation: dot3 1s ease-in-out infinite; }
}

.contact{
  & #flag{
    transition: transform .5s ease;
    transform-origin: 9% 117%;
  }
  & .bubble{
    transition: opacity .5s ease;
  }
}

@keyframes mail{
  from { transform: translate(18px, 20px); }
  to   { transform: translate(29px, 20px); }
}
@keyframes floating{
  from { transform: translate(65px, 25px); }
  to   { transform: translate(75px, 20px); }
}
@keyframes dot1{
  from { opacity: 0; }
  10%  { opacity: 0; }
  20%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot2{
  from { opacity: 0; }
  40%  { opacity: 0; }
  50%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes dot3{
  from { opacity: 0; }
  70%  { opacity: 0; }
  80%  { opacity: 1; }
  90%  { opacity: 1; }
  to   { opacity: 0; }
}

/***************** backgrounds ********************/
.home-project{
  &.-project-1{ background-image: url(/assets/_bg/home-bg1.png); }
  &.-project-2{ background-image: url(/assets/_bg/home-bg2.png); }
  &.-project-3{ background-image: url(/assets/_bg/home-bg3.png); }
  &.-project-4{ background-image: url(/assets/_bg/home-bg4.png); }
}

.flying-bg{
  @apply --bg;

  & > img {
    position: absolute;
  }

  & > .shape-1 { top: 5%; left: 43%; }
  & > .shape-2 { top: 10%; left: 80%; }
  & > .shape-3 { top: 60%; left: 46%; }
  & > .shape-4 { top: 71%; left: 74%; }
  & > .shape-5 { left: 29%; top: 16%; }
  & > .shape-6 { left: 0; top: 60%; }
  & > .shape-7 { top: 80%; left: 30%; }
  & > .shape-8 { left: 95%; top: 63%; }
}