@import 'common.css';

/* ---------------- page common ---------------- */
section{
  padding: 100px;
}
@media screen and (max-width: 800px){
  section{
    padding: 100px 40px;
  }
}

.title-text{
  font-size: 2.5em;
}
@media screen and (max-width: 800px){
  .title-text{
    font-size: 2em;
  }
}
a.title-text{
  display: block;
}

.line{
  background: var(--main);
  border: none;
}
.link-arrow:after{
  content: '>';
  padding-left: 5px;
}

/* ---------------- intro ---------------- */
.intro{
  margin: 100px 0 50px;
}
@media screen and (max-width: 800px){
  .intro{
    margin: 80px 0 30px;
  }
}
.intro .line{
  margin: 30px 0 20px;
  width: 60px;
  height: 4px;
}
.intro .sub-text{
  font-size: 1.1em;
  max-width: 40em;
}
.intro-link{
  color: var(--main);
  position: relative;
}
.intro-link:after{
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 100%;
  background: var(--main);
  transform: scaleX(0);
  transition: .2s transform ease;
}
.intro-link:hover:after{
  transform: scaleX(1);
}
.resume{
  display: inline-block;
  padding: 4px 0;
  margin-top: .5em;
  font-weight: bold;
  color: var(--main);
  text-transform: capitalize;
}

/* ---------------- project ---------------- */
.project{
  display: flex;
  align-items: center;
}
.project-info, .project-img-wrap{
  flex: 1 0 50%;
}

.project-type{
  margin-bottom: 8px;
  font-size: 1em;
  color: var(--main);
  letter-spacing: .3em;
}
.project-detail{
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.project .line{
  margin: 8px 40px 16px 0;
  width: 100px;
  height: 4px;
}
.project .sub-text{
  flex: 1;
  font-size: .9em;
}
.project-button{
  display: block;
  margin: 8px 0 20px;
  padding: 4px 0;
  color: var(--main);
  font-weight: bold;
  text-transform: capitalize;
}

/* ---------------- individual project ---------------- */
.project-2 .project-info,
.project-4 .project-info{
  order: 2;
}

.project-1{
  background-image: url(../img/project-bg-rect.png);
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: 40vw 100px;
}
.project-1 .project-img{
  width: 100%;
  position: relative;
  top: -50px;
  left: 10%;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.project-2 .project-img{
  width: 140%;
  position: relative;
  left: -40%;
}

.project-3{
  background-image: url(../img/project-bg-circle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 120%;
}
.project-3 .project-img{
  width: 100%;
}

.project-4{
  background-image: url(../img/project-bg-rect.png);
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: 5vw 100px;
}
.project-4 .project-img{
  width: 120%;
  position: relative;
  top: -50px;
  left: -20%;
}

/* ---------------- prototype ---------------- */
.prototype-title-wrap{
  max-width: 30em;
  margin: 50px auto;
  text-align: center;
  background: linear-gradient(transparent 45%, #212121 46%, #212121 54%, transparent 55%);
}
.prototype-title-text{
  padding: 0 1.2em;
  background: #fff;
  font-size: 1.1em;
}
.prototype-container{
  display: flex;
  flex-wrap: wrap;
}
.prototype-wrap{
  flex: 1;
  background: #F5FAFF;
  margin: 15px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.prototype-wrap-mobile{
  flex-basis: 150px;
  background-image: url(../img/phone_frame.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}
.prototype-wrap-mobile video{
  width: 56%;
  margin: 8em 22% 0;
}

.prototype-wrap-desktop{
  flex-basis: 500px;
}
.prototype-wrap-desktop video{
  width: 80%;
  margin: 3em 10% 0;
  box-shadow: 0 0 3em rgba(0,0,0,.3);
}

/* ---------------- responsive ---------------- */
@media screen and (max-width: 600px) {
  .project{
    flex-direction: column;
  }
  .project-img-wrap{
    order: 10;
  }
  .project .sub-text{
    font-size: 1em;
  }
  .project .project-img{
    width: 100%;
    position: static;
    box-shadow: none;
  }
  .project-2 .project-img,
  .project-4 .project-img{
    position: static;
    width: 120%;
    transform: translateX(-10%);
  }
  .project-4{
    background-image: none;
  }

  .project-1{
    background-image: url(../img/project-bg-circle.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -20%;
  }
  .project-3{
    background-size: cover;
  }
}

@media screen and (max-width: 480px){
  .prototype-title-wrap{
    background: none;
  }
  .prototype-title-text{
    padding: 0;
  }
}


/* ---------------- index footer ---------------- */

.footer-index{
  margin: 2em 3em 5em;
}
.footer-link{
  display: inline-block;
  margin: 2em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .footer-index{
    margin: 2em 0;
  }
}
@media screen and (max-width: 480px){
  .footer-link{
    display: block;
    margin: 1em;
  }
}

