@import './_variables';

section p{
  margin: 1em 0;
  font-size: 16px;
}

.project-cover{
  padding-top: 60px;
  padding-bottom: 0;
}

.-shading{
  background: #f5faff;
  margin: 1em 0;
  & > img{
    max-width: 1000px;
    padding: 30px 0;
  }
}
section.-with-vert-line:before{
  @apply --vert-line;
}
.-content-width{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.quote{
  color: var(--main);
  font-size: 32px;
  margin: 2em 3em;
  font-style: italic;
  opacity: .6;
}
.section-title{
  font-size: 32px;
  color: #555;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .05em;
  margin: 1em;

  & > p{
    color: var(--main);
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
}

.sub-section-title{
  text-align: center;
  font-size: 32px;
  color: var(--main);
  font-weight: 300;
  letter-spacing: .05em;
  text-transform: capitalize;

  & > .step{
    font-size: 45px;
    font-weight: 500;
    color: var(--main);
    opacity: .3;
    margin: 0;
  }
}

.list-number{
  color: var(--main);
}

.bullet{
  font-size: 18px;
  font-weight: 500;
  color: #555;
}

.-smaller-video{
  max-height: 500px;
}

/******************** project footer **************************/
.footer-nav-wrap{
  display: flex;
  margin: 60px 0;

  & > a{
    padding: 24px;
    display: block;
    &:first-child{
      text-align: left;
    }
    &:last-child{
      text-align: right;
    }
    &:hover{
      background: #fafafa;
    }

    & > .arrow{
      font-size: 14px;
      text-transform: uppercase;
    }
    & > .name{
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.-steps{
  min-height: 500px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;

  & > .screen{
    flex: 1 1 60%;
    position: relative;
    & > .laptop{
      width: 100%;
    }
    & > video{
      display: none;
      position: absolute;
      width: 68.5%;
      left: 50%;
      top: 63px;
      transform: translateX(-50%);
      &.-active{
        display: block;
      }
    }
  }

  & > .buttons{
    flex: 1 1 40%;
  }
}

.step-button{
  cursor: pointer;
  & > span{
    font-weight: 400;
    font-size: 30px;
    color: #c3c3c3;
    opacity: .6;
    margin-right: 6px;
  }
  & > h3{
    color: #c3c3c3;
    font-size: 26px;
    display: inline-block;
    font-weight: 400;
  }
  & > p{
    max-height: 0;
    overflow: hidden;
    margin: 0;
    transition: max-height .3s ease;
  }

  &.-active{
    & > span{
      color: var(--main);
      opacity: .6;
    }
    & > h3{
      color: var(--main);
    }
    & > p{
      max-height: 100px;
      transition: max-height .5s ease;
    }
  }
}

.footer-copy{
  text-align: center;
  margin: 16px 24px;
  font-size: 14px;
}

/******************** start of older css **************************/

.project-hero-line{
  @apply --vert-line;
  margin-top: 200px;
}

.project-hero{
  padding-top: 60px;
  padding-bottom: 0;
}

.section-type{
  &:before{
    @apply --vert-line;
  }
}

.section-type + h2{
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: .1em;
}

.iterations{
  padding: 40px;
}
